<div>
  <input #inputDescription type="text" placeholder="Task description" />
  <button (click)="addTask(inputDescription.value)">Add task</button>
</div>

<table>
  <tr *ngFor="let task of tasks; let i = index">
    <ng-container *ngIf="!task.done">
      <td><input type="checkbox" [checked]="task.done" /></td>
      <td>{{task.description}}</td>
      <td><button (click)="deleteTask(i)">delete</button></td>
    </ng-container>
  </tr>
</table>

<p>details:</p>
<div [ngSwitch]="tasks.length">
  <div *ngSwitchCase="0">0 tasks</div>
  <div *ngSwitchCase="1">1 task</div>
  <div *ngSwitchDefault>{{tasks.length}} tasks</div>
</div>
